* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url(./img/tela\ inicial.png);
    height: 120vh;
    background-repeat: no-repeat;
    background-position: 0 -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    overflow-x: hidden;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    height: 165px;

}

header img {
    width: 234px;
}

header.container-grid {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-grid a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    max-width: 700px;
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    color: var(--branco);
    font-family: "Recursive", sans-linear;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

}

.menu a:hover {

    text-decoration-color: var(--verde-pixelV);
}


/* --------------Sobre----------------------- */
.titulo {
    font-size: 23px;
    margin: 175px;
    margin-top: 150px;
    margin-right: 0px;

}

#sobre h2 {
    margin-right: 866px;
    background-color: #006837;
    border-radius: 20px;
    padding: 10px 18px;
    color: white;
}


.conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sobre {
    margin-bottom: 100px;
}

.conteudo {
    position: relative;
}

.linha-verde1 {
    position: absolute;
    z-index: -1;
    top: calc(50% - 125px);

    height: 250px;
    width: 100%;
    background-color: #006837;
}

#sobre img {
    max-width: 356px;
    width: 50%;
    border-radius: 25px;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.2);
}


#sobre p {

    font-size: 23px;
    text-align: justify;
    justify-content: space-between;
    margin-left: 70px;
}




/* --------------------------- Cards -------------------------- */


body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #006837; /* Verde Escuro */
    padding: 20px;
}

.box {
    background-color: #f0f0f0; /* Cinza Claro */
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    height: 200px;
}

.icon {
    font-size: 40px;
}

h3 {
    color: #004d00; /* Verde Escuro */
}

p {
    color: #333; /* Cor Normal */
    font-size: 18px;
}
